body {
    font-family: "montserrat";
    width: auto;
}

h1 {
    color: white;
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 800;
}

h2 {
    font-family: "Monserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

h3 {
    font-family: "montserrat";
    font-weight: 600;
}


/*Class */

.container-fluid {
    padding: 3% 15% 7%;
}

.cs {
    background-color: #ff4c68;
    color: #fff;
    height: auto;
    text-align: center;
    font-family: "montserrat";
}

.carousel-item {
    padding: 7% 15%;
}

.h3mode {
    padding: 5%;
}

.dogpic {
    position: absolute;
    width: 60%;
    transform: rotate(30deg);
    margin-right: 30px;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.fac {
    color: #ef8172;
    margin: 1rem;
}

.logos {
    text-align: center;
}

div.logos a {
    color: black;
    transition: all .2s ease-in-out;
}

div.logos a:hover {
    transform: scale(6);
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav.link {
    font-size: 1.5rem;
    font-family: "Montserrat-light";
}

.pl-3 {
    padding-left: 0!important;
}

p.h3mode,
div.h3mode {
    padding: 10px;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.topspace {
    padding: 3% 2%;
}

.press-logos {
    width: 200px;
    margin: 20px 20px 50px;
}


/*Download Buttons*/

.download-button {
    margin: 5% 3% 5% 0%;
}

.btn-outline-light:hover {
    color: black;
}


/*ID section*/

#features {
    background-color: #fff;
    padding: 7% 15%;
    position: relative;
    z-index: 1;
}

#footer {
    height: auto;
}

p.h3mode {
    text-align: center;
}

#testimonials {
    color: #fff;
    background-color: #ef8172;
    text-align: center;
}

#title {
    background-color: #ff4c68;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#pricing {
    margin: 0 30px;
    padding: 100px;
    text-align: center;
}


/*action*/

.fac:hover {
    color: #ff4c68;
}


/*media Q*/

@media (max-width: 1028px) {
    .dogpic {
        position: static;
        transform: rotate(0);
        z-index: 1;
    }
    #title {
        text-align: center;
    }
}